body{
  background-color: pink;
  color: meduimseagreen;
}
  


#MyButton{
  color: #000;
  min-height:120px;
  min-width:300px;
}

@media (max-width:960px){
body{
  background-color: beige;
  font-size: 5rem;
}
}
@media (min-width:961px){
body{
  background-color: lightpink
  font-size: 10rem;
  }
}
